<div class= "col-xs-10 col-xs-offset-1">
<h2><u>Workout Movement List</u></h2>
<!-- Button trigger modal -->
<button class="btn btn-primary btn-med pull-left" data-toggle="modal" data-target="#myModal">
  Add movement
</button>
</div>
<div class="clear"></div>
<br />

<!-- Movement Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a movement</h4>
      </div>
      <%= simple_form_for @movement, :url => movements_path do |f| %>
      	<div class="modal-body">
					<%= f.input :movement_name, :placeholder => 'Squat Clean' %> 
					<%= f.input :movement_category, :as => :select, :collection => Movement::MOVEMENT_CATEGORIES %>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					<%= f.submit "Add Movement", :class => 'btn btn-primary' %>
				</div>
			<% end %>
    </div>
  </div>
</div>

<div class= "col-xs-10 col-xs-offset-1">
<% @movements.each do |movement| %>
	<div class ="my-box">
		<h3 style="margin-bottom: 5px;"><%= movement.movement_name %></h3>
		<i><%= movement.movement_category %></i><br />
	</div>
<% end %>
</div>